@charset "utf-8";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
	font-family: 'DB Heavent';
	src: url('../fonts/DBHeavent-Thin.eot');
	src: url('../fonts/DBHeavent-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHeavent-Thin.woff2') format('woff2'), url('../fonts/DBHeavent-Thin.woff') format('woff'), url('../fonts/DBHeavent-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'DBHeaventt-Light';
	src: url('../fonts/DBHeaventt-Light.eot');
	src: url('../fonts/DBHeaventt-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHeaventt-Light.woff2') format('woff2'), url('../fonts/DBHeaventt-Light.woff') format('woff'), url('../fonts/DBHeaventt-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DBHeavent-Med';
	src: url('../fonts/DBHeavent-Med.eot');
	src: url('../fonts/DBHeavent-Med.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHeavent-Med.woff2') format('woff2'), url('../fonts/DBHeavent-Med.woff') format('woff'), url('../fonts/DBHeavent-Med.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DB Heavent';
	src: url('../fonts/DBHeavent.eot');
	src: url('../fonts/DBHeavent.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHeavent.woff2') format('woff2'), url('../fonts/DBHeavent.woff') format('woff'), url('../fonts/DBHeavent.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DB Heavent Black Cond';
	src: url('../fonts/DBHeavent-BlackCond.eot');
	src: url('../fonts/DBHeavent-BlackCond.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHeavent-BlackCond.woff2') format('woff2'), url('../fonts/DBHeavent-BlackCond.woff') format('woff'), url('../fonts/DBHeavent-BlackCond.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DB Heavent Black Cond';
	src: url('../fonts/DBHeavent-ThinCond.eot');
	src: url('../fonts/DBHeavent-ThinCond.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHeavent-ThinCond.woff2') format('woff2'), url('../fonts/DBHeavent-ThinCond.woff') format('woff'), url('../fonts/DBHeavent-ThinCond.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'DB Heavent Med Cond';
	src: url('../fonts/DBHeavent-MedCond.eot');
	src: url('../fonts/DBHeavent-MedCond.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHeavent-MedCond.woff2') format('woff2'), url('../fonts/DBHeavent-MedCond.woff') format('woff'), url('../fonts/DBHeavent-MedCond.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

*:focus,
*:active {
	outline: 0 !important;
	box-shadow: none !important;
}

html {
	font-size: 20px;
}

html.fz_s {
	font-size: 16px;
}

html.fz_l {
	font-size: 25px;
}

body {
	font-size: 1rem;
	font-family: 'DB Heavent';
	color: #000000;
}

.h1,
h1 {
	font-size: 2rem;
}

.h2,
h2 {
	font-size: 1.8rem;
}

.h3,
h3 {
	font-size: 1.5rem;
}

.h4,
h4 {
	font-size: 1.25rem;
}

.h5,
h5 {
	font-size: 1rem;
}

.h6,
h6 {
	font-size: 0.8rem;
}
a:hover{
	text-decoration: none;
}
.share-calendar li{
	list-style: none;
	display: inline-block;
	padding-right: 10px;
}
.share-calendar a{
	color: #beb5b6;
	text-decoration: none;
}
.share-calendar li > a img{
	vertical-align:text-top;
	padding-top: 5px;
}
.share-calendar i{
    font-size: 13px;
}
.innova-head-int{
	margin-bottom: 40px;
}
.regisbtn {
	background-color: #850e19;
	border-radius: 15px;
	color: white;
	padding: 5px 40px;
	display: inline-block;
	text-decoration: none;
	position: absolute;
	top: 360px;
}

.regisbtn:hover {
	text-decoration: none;
	color: white;
	background-color: #6f0a13;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.padleft {
	padding-left: 0px;
}

.border-hover {
	border-bottom: 5px solid #073262;
}

.border-hover:hover {
	border-bottom: 5px solid #850e19;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.home_int-inno_item {
	display: block;
	margin-bottom: 70px;
}

.home_int-inno_item figure a {
	display: block;
}

.home_int-inno_item h4 {
	color: #000;
	line-height: 1;
	margin-top: 0px;
	height: 1em;
}

.home_int-inno_item p {
	line-height: 1;
	font-size: 1rem;
	height: 3em;
	color: #888;
}

.innova-head-int {
	margin-left: 30px;
	margin-top: 25px;
}

.innova-head-int h1 {
	margin: 0;
	font-size: 3rem;
	text-transform: uppercase;
	line-height: 0.7;
	font-weight: 300;
	color: #2a2a2a;
	text-align: right;
}

.righttxt {
	text-align: right;
	margin-top: 6px;
	font-size: 1.8em;
	color: #3a3a3a;
}

.nopad {
	padding: 0px;
	overflow: hidden;
}

.nostyle {
	background-color: transparent;
	border: none;
	float: left;
	color: black;
	padding-top: 8px;
	padding-left: 0px;
}

.btn_registr {
	color: #666;
}

.btn_registr:hover {
	color: #000;
}

#banner-data1 {
	font-size: 5.5rem;
	text-transform: uppercase;
	font-family: 'DBHeavent-Med';
	padding-left: 20px;
	white-space: nowrap;
	display: block;
	margin-bottom: 15px;
}

#banner-data2 {
	font-size: 3.2rem;
	text-transform: uppercase;
	padding-left: 20px;
}

#banner-data3 {
	font-size: 1.1rem;
	line-height: normal;
	display: block;
	padding-left: 20px;
}

.bgwhite {
	background-color: white;
	width: 200px;
	height: 60px;
	position: absolute;
	bottom: 60px;
	z-index: 9;
	right: 115px;
}

.banner-crop {
	position: relative;
}

.banner-txt-slide {
	position: absolute;
	font-size: 2.5rem;
	top: 170px;
	left: 40px;
	z-index: 9;
	color: #2a2a2a;
	line-height: 50px;
	border-left: 5px solid #114974;
}

.social-fixed {
	position: absolute;
	top: 430px;
	left: 60px;
}

.confirm-page {
	text-align: center;
}

.confirm-page div {
	font-size: 2.5rem;
}

.modal-body {
	margin-bottom: 2em;
}

.regis-form label {
	float: left;
	padding-top: 10px;
	font-size: 1.2rem;
	color: #3a3a3a;
}

.form-regis {
	background-color: transparent;
	border: 1px solid #acacac;
	color: #acacac;
	padding-left: 10px;
	font-size: 1rem;
	height: 40px;
	width: 100%;
}

.content-popup a {
	text-align: center;
}

.content-popup a > img {
	width: 70%;
}

.content-popup div {
	text-align: center;
	color: #3a3a3a;
	font-size: 1.3rem;
	font-weight: 500;
}

.jumbotron {
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	text-align: center;
	font-size: 2.5rem;
	text-transform: uppercase;
	font-family: 'DBHeavent-Med';
	color: #3a3a3a;
}

.modal-content {
	border-radius: 0px;
	box-shadow: none;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
	text-align: center;
}

.product_img {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.product_img .caption {
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
	background: rgba(000, 000, 000, .8);
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}

.product_img:hover .caption {
	opacity: 1;
	visibility: visible;
}

.product_img.two .caption {
	transform: none;
	opacity: 0;
	visibility: hidden;
	left: 0;
	top: inherit;
	bottom: -50px;
	width: 100%;
	height: 50px;
	color: white;
	padding: 10px;
	line-height: normal;
	font-size: 0.9rem;
	overflow: hidden;
}

.product_img.two:hover .caption {
	bottom: 0;
	opacity: 1;
	visibility: visible;
}

.circle-ppl {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

.circle-ppl img {
	display: block;
	margin: 0 auto;
	height: 100%;
	min-width: 100%;
}

.member-signin {
	display: inline-block;
	padding-top: 8px;
}

.member-signin a {
	color: white;
	text-decoration: none;
}

.status-class {
	margin-left: 10px;
}

.status-class::before {
	display: inline-block;
	content: '';
	-webkit-border-radius: 0.375rem;
	border-radius: 0.375rem;
	height: 0.35rem;
	width: 0.35rem;
	margin-right: 0.5rem;
	background-color: white;
	vertical-align: middle;
}

.graybtn {
	background-color: #5f6061;
	font-size: 1.1em;
	color: white;
	border-radius: 5px;
	border: none;
	width: 100%;
	margin-top: 10px;
}

.form-control {
	box-shadow: none;
	border-bottom: 1px solid #e1e1e1;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	font-size: 1rem;
	padding-top: 8px;
	margin-bottom: 10px;
}

.forget-pass {
	color: #bebebe;
	font-size: 0.8em;
	letter-spacing: 0px;
	text-decoration: none;
	padding-top: 10px;
}

.forget-pass:hover {
	color: black;
	text-decoration: none;
}

.dropdown-inner a {
	width: 100%;
}

.dropdown {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 7px;
    
}
.btn-dropdown{
    cursor: pointer;
}

.dropdown-inner {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
}

.dropdown-inner:after {
	bottom: 100%;
	right: 40px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #144e8e;
	border-width: 10px;
	margin-left: -8px;
}

/*.dropdown-hover:hover .dropdown-inner,*/
.dropdown-open:checked ~ .dropdown-inner {
	opacity: 1;
	visibility: visible;
}

.dropdown-hover:hover ~ .dropdown-overlay,
.dropdown-open:checked ~ .dropdown-overlay {
	display: block;
}

.dropdown-inner {
	width: 300px;
	border: 2px solid #144e8e;
	background: #fff;
	transition: opacity .3s, visibility .3s;
	font-size: 1em;
	letter-spacing: 2px;
	z-index: 99999;
	left: -240px;
	padding: 20px;
	border-radius: 20px;
	top: 55px;
}


/*
@media only screen and (max-width: 1366px) {
	.dropdown-inner {
		margin-left: -5em;
	}
}*/

.profile h1 {
	color: #3a3a3a;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 3rem;
	margin: 0px;
}

.profile {
	color: #3a3a3a;
	font-size: 1.1rem;
	margin-top: 28px;
}

.profile-img {
	margin-top: 40px;
}

.btn-edit-profile {
	background-color: #ebebeb;
	color: #3a3a3a;
	border: 1px solid #a6a6a6;
	font-size: 1.1rem;
	text-align: right;
	float: right;
	padding: 0px 20px;
	margin-top: 40px;
	border-radius: 2px;
}

.btn-edit-profile:hover {
	background-color: #3a3a3a;
	color: white;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bg-gray2 {
	background-color: #f5f5f5;
	padding: 30px;
	margin: 30px;
}

.bg-gray2 p {
	color: #3a3a3a;
	font-family: 'DB Heavent';
	font-size: 0.9em;
	font-weight: 500;
	text-align: left;
	margin-top: -5px;
}

.bg-gray {
	background-color: #f5f5f5;
	padding: 20px;
}

.bg-gray p {
	color: #3a3a3a;
	font-family: 'DB Heavent';
	font-size: 1.1em;
	font-weight: 500;
}

.btn-sending2 {
	background-color: transparent;
	border: 1px solid black;
	color: #3a3a3a;
	font-size: 1.2em;
	padding: 5px 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-sending {
	background-color: #144e8e;
	border: none;
	color: white;
	font-size: 1.2em;
	padding: 5px 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-sending2:hover {
	color: white;
	background-color: #0c3c71;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.btn-sending:hover {
	background-color: #0c3c71;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


/**
 * Circle Styles
 */

.circle {
	position: relative;
	display: block;
	margin: 0.5em 0;
	background-color: transparent;
	color: white;
	text-align: center;
}

.circle:hover:after {
	background-color: #850e19;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.circle:after {
	display: block;
	padding-bottom: 100%;
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: #144e8e;
	content: "";
	color: white;
	border: 3px solid white;
}

.circle__inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.circle__wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.circle__content {
	display: table-cell;
	padding: 1em;
	vertical-align: middle;
	font-size: 1.1em;
}

.circle a {
	color: white;
	text-decoration: none;
}

.circle__content > img {
	width: 70%;
}

.event-news-bg {
	background-color: #144e8e;
	width: 100%;
	height: 300px;
	color: white;
	padding: 30px 20px;
	position: relative;
}

.event-news-bg h1 {
	margin: 0;
	font-size: 3.5rem;
	text-transform: uppercase;
	line-height: 0.7;
	font-weight: 300;
	letter-spacing: 4px;
}

.event-news-bg h3 {
	margin: 0;
	font-size: 1.8rem;
}

.read-more-event {
	background-color: white;
	padding: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.wrap_media {
	margin: 100px 0;
}

.mt-20 {
	margin-top: 5em;
}

.mt-5 {
	margin-top: 50px;
}

.mb-5 {
	margin-bottom: 60px;
}

.boldtxt {
	font-weight: 700;
}

.txt-media {
	color: #888;
	line-height: 20px;
}

.innova-head {
	margin-left: 30px;
	margin-top: 25px;
}

.innova-head h1 {
	margin: 0;
	font-size: 3rem;
	text-transform: uppercase;
	line-height: 0.7;
	font-weight: 500;
	color: #2a2a2a;
	margin-bottom: 7px;
}

.innova-head h1 span {
	font-size: 3.2rem;
	letter-spacing: 0.2rem;
}

.bgdarkblue {
	background-color: #073262;
	/* width: 360px; */
	width: 100%;
	height: 380px;
	position: absolute;
	left: auto;
	right: 75%;
	top: -90px;
	/* margin-bottom: 50px; */
}

.innovationcl {
	position: relative;
}

.home_head h1 {
	margin: 0;
	font-size: 3rem;
	text-transform: uppercase;
	line-height: 0.7;
	font-weight: 300;
	color: #2a2a2a;
	letter-spacing: 0.2rem;
}

.home_head_awards {
	margin-bottom: 20px;
}

.home_head_awards h1 {
	margin: 0;
	font-size: 3rem;
	text-transform: uppercase;
	line-height: 0.7;
	font-weight: 300;
	color: #2a2a2a;
	letter-spacing: 0.1rem;
	margin-top: 30px;
}

.home_head_awards h3 {
	margin: 0;
	font-size: 2rem;
	color: #3a3a3a;
	margin-bottom: 7px;
}

.innova-head h3 {
	margin: 0;
	font-size: 1.5em;
	color: #3a3a3a;
}

.home_head h3 {
	margin: 0;
	font-size: 2.3rem;
	color: #3a3a3a;
	margin-bottom: 7px;
}

.home_head a,
.home_head_awards a {
    position: absolute;
    right: 15px;
    font-size: 0.9rem;
    bottom: 12px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    -webkit-transition: all  0.5s ease-in-out;
    -moz-transition:all  0.5s ease-in-out;
    -o-transition: all  0.5s ease-in-out;
    transition: all  0.5s ease-in-out;
    /*background-image: url(../images/arrow.png);
    background-position: center right;*/
    padding-right: 30px;
    background-repeat: no-repeat;
}
.home_head a::after,
.home_head_awards a::after{
    content: "→";
    position: absolute;
    right: 5px;
    top: -1px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

.home_head a:hover,
.home_head_awards a:hover {
	color: #144e8e;
}

.media_col {
	/*    padding-left: 30px;*/
	padding-right: 0;
	white-space: nowrap;
}

.media_logo {
	text-align: center;
	font-size: 1.5rem;
	color: #144e8e;
	padding: 20px;
	font-weight: 500;
	text-decoration: none;
	display: block;
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background-color: #f2f2f2;
}

.media_logo:first-child {
	margin-bottom: 30px;
}

.media_logo img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0px auto;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.media_logo div {
	display: block;
	position: relative;
}

.media_logo div img {
	width: auto !important;
}

.media_logo img:nth-child(2) {
	position: absolute;
	left: 50%;
	top: 0;
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	opacity: 0;
}

.media_logo:hover img:nth-child(2) {
	opacity: 1.0;
}

.media_logo::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 1.0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.media_logo:hover {
	text-decoration: none;
	background-color: #850e19;
	color: white;
}

.media_logo:hover::before {
	opacity: 1.0;
}

.media {
	padding-top: 70px;
	padding-left: 0;
	color: #FFF;
}

.media h1 {
	margin: 0;
	font-size: 4rem;
	text-transform: uppercase;
	line-height: 0.7;
	font-weight: 300;
}

.bg_news {
	position: relative;
	background-color: #edf6ff;
}

.bg_news > span {
	background-color: #fff;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.home_news_item {
	display: block;
	margin-bottom: 90px;
}

.home_news_item figure a {
	display: block;
}

.home_news_item figure a img {
	max-width: 100%;
	height: auto;
	display: block;
}

.home_news_item h4 {
	color: #000;
	line-height: 1;
	margin-top: 25px;
	height: 2em;
}

.home_news_item p {
	line-height: 1;
	font-size: 1rem;
	height: 3em;
	color: #888;
}

.home_news_item a.btnmore{
    font-size: 1rem;
    color: #02449b;
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    /*background-image: url(../images/arrowblue.png);
    background-position: center right;*/
    padding-right: 35px;
    background-repeat: no-repeat;
}
.home_news_item a.btnmore::after{
    content: "→";
    position: absolute;
    right: 5px;
    top: 0;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-size: 1.1rem;
}

.owl-innostrat .owl-item .img_innostrat {
	border: 5px solid rgba(255, 255, 255, 0.55);
	border-radius: 50%;
	margin-bottom: 70px;
}

.owl-innostrat .owl-item:not(.innostrat_firstitem) .img_innostrat {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.owl-innostrat .owl-item.innostrat_firstitem .img_innostrat {
	border: 7px solid rgba(255, 255, 255, 0.55);
}

.owl-innostrat .owl-item .img_innostrat figcaption {
	position: absolute;
	top: 100%;
	text-align: center;
	width: 100%;
	left: 0;
	color: #FFF;
	padding-top: 15px;
	line-height: 0.8;
}

.owl-innostrat .owl-item:not(.innostrat_firstitem) .img_innostrat figcaption {
	font-size: 1.2rem;
}

.owl-innostrat .owl-item.innostrat_firstitem .img_innostrat figcaption {
	font-size: 1.5rem;
}

.img_innostrat a {
	display: block;
	position: relative;
}

.img_innostrat a div {
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100%;
	border-radius: 50%;
	background-color: #FFF;
}

.img_innostrat img {
	width: auto !important;
	height: 100% !important;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-ms-transform: translate( -50%, 0);
	-webkit-transform: translate( -50%, 0);
	transform: translate( -50%, 0);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.img_innostrat img.innostrat_subimage {
	opacity: 0;
}

.innostrat_firstitem .img_innostrat img.innostrat_subimage {
	opacity: 1;
}

.innoworld_item {
	display: block;
	padding-left: 0px;
	padding-right: 15px;
}

.innoworld_item a {
	display: block;
	text-decoration: none;
	border-bottom: 3px solid #154194;
	padding-bottom: 15px;
}

.innoworld_item figure {
	display: block;
}

.innoworld_item figure img {
	width: 100%;
	height: auto;
	display: block;
}

.innoworld_item h4 {
	color: #000;
	line-height: 1;
	margin-top: 25px;
	height: 2em;
}

.innoworld_item p {
	line-height: 1;
	font-size: 1rem;
	max-height: 3em;
	color: #3a3a3a;
}

.blog_item {
	display: block;
	padding-left: 10px;
}

.blog_item a {
	display: block;
	text-decoration: none;
}

.blog_item figure {
	display: block;
}

.blog_item figure img {
	max-width: 100%;
	height: auto;
	display: block;
}

.blog_item h2 {
	color: #000;
	line-height: 1;
	margin-top: 45px;
	height: 1em;
}

.blog_item p {
	line-height: 1;
	font-size: 1rem;
	height: 5em;
	color: #3a3a3a;
}

.padding_blog {
	padding-left: 40px;
}

.bg_blog {
	position: relative;
	margin-bottom: 70px;
	margin-top: 90px;
}

.bg_blog > span {
	width: 50%;
	height: 100%;
	background-color: #f4f4f4;
	position: absolute;
	top: 15px;
	right: 0;
}

.bot_link {
	padding-left: 10px;
	padding-right: 10px;
}

.rowbot_link {
	margin-left: -25px;
	margin-right: -25px;
}

.bot_link_border {
	border: 1px solid #a7a7a7;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: relative;
}

.bot_link_border h3 {
	color: #3a3a3a;
	min-height: 40px;
	line-height: 1;
	background-repeat: no-repeat;
	padding-left: 50px;
}

.bot_link_border h3.technocenter {
	background-image: url(../images/icon_techno_canter.jpg);
}

.bot_link_border h3.announce {
	background-image: url(../images/icon_announce.jpg);
}

.bot_link_border h3.career {
	background-image: url(../images/icon_career.jpg);
}

.bot_link_border ul {
	margin: 0;
	padding: 0 0 0 20px;
	list-style: disc;
	position: relative;
	z-index: 3;
}

.bot_link_border ul li {
	color: #9f9f9f;
}

.bot_link_border ul li a {
	display: inline-block;
	height: 1em;
	line-height: 1;
	font-size: 1rem;
	color: #5e5e5e;
	text-decoration: none;
}

.bot_link_more {
	text-align: right;
}

.bot_link_more a {
	display: inline-block;
	font-size: 24px;
	color: #1c426f;
	margin-bottom: 3px;
}

.bot_link_border::before {
	content: "";
	border: 4px solid #154194;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bot_link_border:hover {
	color: #3a3a3a;
	text-decoration: none;
	border: 1px solid #154194;
}

.bot_link_border:hover::before {
	opacity: 1.0;
}

.head_link {
	color: #000;
	margin-top: 50px;
	margin-bottom: 10px;
	border-left: 3px solid #114974;
}

.head_link h1 {
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #3a3a3a;
}

.head_link_2 {
	color: #000;
	margin-bottom: 10px;
	border-left: 3px solid #114974;
}

.head_link_2 h1 {
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #3a3a3a;
	text-align: left;
}

.activities_link a {
	display: block;
}

.activities_link a img {
	max-width: 100%;
	height: auto;
	display: block;
}

.margin_activities_link {
	margin-bottom: 90px;
}

.margin_activities_link .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
	padding-top: 15px;
}

.newsactivities_top {
	display: block;
}

.newsactivities_date {
	width: 100px;
	color: #000;
	font-size: 4.6rem;
	line-height: 0.7;
	display: inline-block;
	vertical-align: top;
}

.newsactivities_date span {
	font-size: 1.7rem;
	display: block;
	padding-left: 3px;
	letter-spacing: 2px;
}

.newsactivities_head {
	display: inline-block;
	width: calc(100% - 100px);
	vertical-align: top;
}

.img_newsactivities {
	padding-left: 0;
}

.img_newsactivities img {
	width: 100%;
	height: auto;
	display: block;
}

.img_newsactivities figure {
	display: none;
}

.newsactivities_top {
	display: none;
}

.img_newsactivities figure:first-child {
	display: block;
}

.newsactivities_top:first-child {
	display: block;
}

.newsactivities_head h1 {
	margin: 0;
	font-size: 2.5rem;
	text-transform: uppercase;
	line-height: 0.8;
	color: #000;
	height: 1em;
}

.newsactivities_head p {
	font-size: 1rem;
	color: #9a9a9a;
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 0;
	height: 2em;
}

.newsactivities_detail {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	color: #9a9a9a;
	line-height: 1;
	height: 5em;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 25px;
}

.wrap_newsactivities_detail {
	padding-left: 55px;
	position: static;
	padding-top: 10px;
}

.newsactivities_slide {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 55px;
}

.wrap_newsactivities {
	position: relative;
}

.wrap_newsactivities_mobile {
	display: none;
}

.padding_owlinnostrat {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	margin-top: -85px;
}

.socail_banner {
	position: absolute;
	left: 40px;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 9898;
}

.socail_banner a {
	display: block;
	opacity: 0.4;
	margin: 15px 0;
}

.socail_banner a img {
	width: 18px;
	height: 18px;
	display: block;
}

.socail_banner a:hover {
	opacity: 1.0;
}

.owl-newsactivities .owl-item a {
	position: relative;
	display: block;
	padding-bottom: 130%;
	overflow: hidden;
}

.owl-newsactivities .owl-item a img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.flex-active-slide .banner_caption {
	opacity: 1.0;
}

.wrap_play_stop {
	position: absolute;
	right: 16px;
	top: -32px;
	width: 22px;
	height: 22px;
	background-color: #222222;
	color: #FFF;
	font-size: 10px;
	line-height: 24px;
	text-align: center;
}

.wrap_play_stop .play {
	display: none;
}

.wrap_play_stop .stop {
	display: block;
}

.wrap_play_stop.active .play {
	display: block;
}

.wrap_play_stop.active .stop {
	display: none;
}

.container_bot_link {
	overflow: hidden;
}

.topbar_inside {
	text-align: right;
	padding-top: 10px;
}

.topbar_inside span {
	color: #8e8e8e;
	font-size: 0.9rem;
	padding-left: 2px;
}

.topareabase {
	padding-right: 60px;
	padding-top: 70px;
}

.wrap_inside_slide {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 85px;
}

.wrap_inside_slide .flexslider {
	padding-top: 70px;
	background-color: transparent;
}

.bg_slide_inside {
	position: relative;
}

.bg_slide_inside > span {
	position: absolute;
	right: 0;
	top: 0;
	height: 500px;
	width: 500px;
	background-color: #144e8e;
}

.head_detail {
	text-align: right;
}

.head_detail hgroup {
	display: inline-block;
	background-color: #FFF;
	text-align: left;
	position: relative;
}

.head_detail hgroup::before {
	content: "";
	width: calc(100% + 260px);
	position: absolute;
	height: 100%;
	right: -130px;
	top: 0;
	background-color: #FFF;
	z-index: 3;
}

.head_detail h1 {
	font-size: 4.5rem;
	font-family: 'DB Heavent Black Cond';
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.6;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
}

.head_detail h2 {
	font-size: 4.9rem;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.6;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
}

.head_detail h3 {
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 2rem;
	line-height: 0.6;
	font-weight: normal;
	position: relative;
	z-index: 5;
}

.image_detail {
	padding-left: 0;
	padding-right: 0;
}

.image_detail img {
	margin-top: -160px;
	width: 100%;
	height: auto;
	display: block;
}

.row_image_detail {
	margin-top: 60px;
	margin-bottom: 45px;
}

.detail_text {
	padding-left: 60px;
	padding-right: 0;
}

.detail_text p {
	font-size: 1rem;
	line-height: 1.2;
	margin-bottom: 20px;
}

.image_detail_bot {
	padding-left: 0;
	padding-right: 0;
}

.image_detail_bot img {
	width: 100%;
	height: auto;
	display: block;
}

.row_image_detail_bot {
	margin-bottom: 85px;
}

.detail_text_bot {
	padding-right: 60px;
	padding-left: 0;
}

.detail_text_bot p {
	font-size: 1rem;
	line-height: 1.2;
	margin-bottom: 20px;
}

.detail_text_bot h1 {
	font-size: 3rem;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 35px;
}

.detail_text_bot h1 span {
	text-align: right;
	display: block;
}

.border_menu {
	border-top: 1px solid #e4e3e3;
}

.detail_news_item {
	display: block;
	margin-bottom: 60px;
}

.detail_news_item a {
	display: block;
	position: relative;
	overflow: hidden;
	padding-bottom: 64%;
}

.detail_news_item a img {
	max-width: 100%;
	height: auto;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	-ms-transform: translate( 0, -50%);
	-webkit-transform: translate( 0, -50%);
	transform: translate( 0, -50%);
}

.detail_news_item h4 {
	color: #000;
	line-height: 1;
	margin-top: 25px;
	height: 1em;
}

.detail_news_item p {
	line-height: 1;
	font-size: 1rem;
	height: 3em;
	color: #646464;
}

.detail_news_item a.btnmore {
	font-size: 1rem;
	color: #02449b;
	text-decoration: none;
	padding: 5px 0;
	background-image: url(../images/arrowblue.png);
	background-position: center right;
	padding-right: 35px;
	background-repeat: no-repeat;
}

.topnews {
	padding-right: 30px;
	margin-top: 60px;
}

.topnews h1 {
	font-size: 4rem;
	font-family: 'DB Heavent Black Cond';
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.8;
	text-transform: uppercase;
}

.topnews h2 {
	font-size: 2.5rem;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.8;
	text-transform: uppercase;
}

.topnews h3 {
	color: #144e8e;
	margin-top: 35px;
	font-weight: normal;
	margin-bottom: 35px;
	font-size: 1.25rem;
}

.topnews p {
	font-size: 1rem;
	line-height: 1.25;
}

.head_newsinside {
	text-align: right;
}

.head_newsinside hgroup {
	display: inline-block;
	background-color: #FFF;
	text-align: left;
	position: relative;
}

.head_newsinside hgroup::before {
	content: "";
	width: calc(100% + 170px);
	position: absolute;
	height: 100%;
	right: -130px;
	top: 0;
	background-color: #FFF;
	z-index: 3;
}

.head_newsinside h1 {
	font-size: 3.5rem;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
}

.head_newsinside h2 {
	font-size: 3rem;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.6;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
	padding-bottom: 15px
}

.image_newsdetail {
	padding-left: 0;
	padding-right: 0;
}

.image_newsdetail img:first-child {
	margin-top: -60px;
}

.image_newsdetail img {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 35px;
}

.newsdetail_text {
	font-size: 1rem;
	padding-top: 60px;
	padding-left: 30px;
	line-height: 1.2;
}

.newsdetail_text h2 {
	font-size: 2rem;
	line-height: 1;
	margin-top: 20px;
	margin-bottom: 30px;
}

.newsdetail_text h2 span {
	text-align: right;
	display: block;
}

.newsdetail_text_bot {
	font-size: 1rem;
	line-height: 1.2;
	margin-top: 70px;
	margin-bottom: 110px;
}

/*inno*/
.innomech_col{
    padding-right: 30px;
    padding-left: 0;
    margin-top: 40px;
}
.innomech_logo{
    min-height: 136px;
    border: 5px solid #870d1a;
    text-align: center;
    font-size: 1.7rem;
    color: #FFF;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    position: relative;
    -webkit-transition: all  0.5s ease-in-out;
    -moz-transition:all  0.5s ease-in-out;
    -o-transition: all  0.5s ease-in-out;
    transition: all  0.5s ease-in-out;
    background-color: #870d1a;
}
.innomech_logo:first-child{
    margin-bottom: 30px;
}
.innomech_logo img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto 5px auto;
    -webkit-transition: all  0.5s ease-in-out;
    -moz-transition:all  0.5s ease-in-out;
    -o-transition: all  0.5s ease-in-out;
    transition: all  0.5s ease-in-out;
}
.innomech_logo div{
    display: block;
    position: relative;
}
.innomech_logo img:nth-child(2){
    position: absolute;
    left: 50%;
    top: 0;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 0;
}
.innomech_logo:hover img:nth-child(2){
    opacity: 1.0;
}
.innomech_logo::before{
    content: "";
    border: 1px solid #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1.0;
    -webkit-transition: all  0.5s ease-in-out;
    -moz-transition:all  0.5s ease-in-out;
    -o-transition: all  0.5s ease-in-out;
    transition: all  0.5s ease-in-out;
}
.innomech_logo:hover{
    color: #3a3a3a;
    text-decoration: none;
    background-color: #FFF;
}
.innomech_logo:hover::before{
    opacity: 1.0;
}
.innomech{
    /*padding-top: 70px;*/
    padding: 40px 15px;
    padding-left: 30px;
    color: #FFF;
}
.innomech h1{
    margin: 0;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 0.7;
    font-weight: 300;
}
.innomech h2{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 0.7;
    font-weight: 100;
}
.innomech h3{
    margin: 0;
    font-size: 1.5rem;
}
.bg_innomech{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}
.bg_innomech > span{
    content: "";
    background-color: #15325e;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

/*Responsive*/

@media (max-width: 1440px) {
	.newsactivities_head h1 {
		font-size: 2rem;
	}
	.newsactivities_detail {
		margin-top: 15px;
	}
	.head_detail h1 {
		font-size: 4rem;
	}
	.head_detail h2 {
		font-size: 4.3rem;
	}
}


/*
@media (max-width: 1366px) {
	.dropdown-inner {
		left: -140px;
	}
}*/

@media (max-width: 1199px) {
	.circle__content {
		font-size: 1rem;
	}
	.media_logo {
		font-size: 1.5rem;
	}
	.event-news-bg {
		height: 250px;
	}
	.regisbtn{
		top: 280px;
	}
	.social-fixed {
		top: 340px;
	}
	#banner-data1 {
		font-size: 4.5rem;
	}
	#banner-data2 {
		font-size: 2.5rem;
	}
	#banner-data3 {
		font-size: 1rem;
	}
	.banner-txt-slide {
		top: 100px;
	}
	.bot_link_border {
		padding-left: 15px;
		padding-right: 15px;
	}
	.bot_link_border h3 {
		font-size: 1.2rem;
		line-height: 1.6;
	}
	.bot_link_border h3 {
		margin-top: 5px;
	}
	.banner_link_item h4 {
		margin-top: 10px;
	}
	.wrap_newsactivities_detail {
		padding-left: 15px;
	}
	.newsactivities_slide {
		padding-left: 15px;
	}
	.home_head {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.newsactivities_date {
		font-size: 4.2rem;
	}
	.bg_innomech {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.banner_link_item {
		padding-right: 20px;
	}
	.padding_blog {
		padding-left: 20px;
	}
	.head_detail h1 {
		font-size: 4rem;
	}
	.head_detail h2 {
		font-size: 4.3rem;
	}
	.head_detail h3 {
		font-size: 1.8rem;
	}
	.head_detail hgroup::before {
		width: calc(100% + 200px);
		right: -100px;
	}
	.innova-head {
		margin-left: 0;
	}
	.innova-head h1 span {
		font-size: 3rem;
	}
	.innova-head h1 {
		font-size: 2.6rem;
	}
    /*inno1199*/
    .innomech_col{
        padding-right: 15px;
    }
    .innomech_logo:first-child{
        margin-bottom: 15px;
    }
    .innomech_logo{
        font-size: 1.2rem;
    }
    .innomech h1{
        font-size: 2.7rem;
    }
    .innomech h2{
        font-size: 2rem;
    }
    .innomech h3{
        font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {
	.topbackground h1 {
		font-size: 4.3rem;
	}
	.topnews h1 {
		font-size: 4.3rem;
	}
	.topbackground_nianame {
		margin-top: 20px;
	}
}

@media (max-width: 991px) {
	.circle__content > img {
		width: 100%;
	}
	.circle__content {
		line-height: 20px;
		font-size: 1rem;
	}
	.event-news-bg {
		height: 175px;
	}
	.event-news-bg h1 {
		font-size: 2rem;
	}
	.event-news-bg h3 {
		font-size: 1.1rem;
	}
	.regisbtn{
		top:200px;
	}
	.social-fixed {
		top: 250px;
	}
	#banner-data1 {
		font-size: 3rem;
	}
	#banner-data2 {
		font-size: 1.5rem;
	}
	#banner-data3 {
		font-size: 0.9rem;
	}
	.banner-txt-slide {
		top: 50px;
		line-height: 30px;
	}
	.member-signin {
		font-size: 0.8rem;
	}
	.bot_link_border h3 {
		line-height: 1;
	}
	.activities_link {
		padding-left: 10px;
		padding-right: 10px;
	}
	.head_link {
		margin-top: 40px;
	}
	.home_news_item {
		margin-bottom: 25px;
	}
	.bg_news {
		background-color: #FFF;
		margin-top: -100px;
	}
	.bg_blog {
		margin-bottom: 30px;
	}
	.margin_activities_link {
		margin-bottom: 30px;
	}
	.home_head h1 {
		font-size: 2.5rem;
	}
	.home_head h3 {
		font-size: 2rem;
	}
	.wrap_media {
		margin: 50px 0 70px;
	}
	.padding_owlinnostrat {
		padding-left: 30px;
		padding-right: 30px;
	}
	.innova-head h1 {
		font-size: 2rem;
	}
	.innostrat_head h1 {
		font-size: 2.5rem;
	}
	.innostrat_head h2 {
		font-size: 1.5rem;
	}
	.innova-head h1 span {
		font-size: 2.5rem;
		letter-spacing: 0.1rem;
	}
	.head_link h1 {
		font-size: 1.6rem;
	}
	.head_detail {
		text-align: center;
	}
	.image_detail img {
		margin-top: 0;
	}
	.image_newsdetail img:first-child {
		margin-top: 25px;
	}
	.detail_text {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 70px;
	}
	.detail_text_bot {
		padding-left: 15px;
		padding-right: 15px;
	}
	.topareabase h1 {
		font-size: 3rem;
	}
	.topareabase h2 {
		font-size: 2.95rem;
	}
	.wrap_inside_slide {
		padding-bottom: 0;
	}
	.topareabase h3 {
		font-size: 1.37rem;
	}
	.head_detail h1 {
		font-size: 3rem;
	}
	.head_detail h2 {
		font-size: 2.95rem;
	}
	.head_detail h3 {
		font-size: 1.37rem;
	}
	.bg_newsinside > span {
		height: 80px;
	}
	.topareabase p {
		font-size: 1.1rem;
	}
	.detail_text p {
		font-size: 1.1rem;
	}
	.detail_text_bot p {
		font-size: 1.1rem;
	}
	.detail_text {
		padding-top: 30px;
	}
	.detail_text_bot h1 {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		font-size: 2.6rem;
	}
	.topbackground {
		position: absolute;
		z-index: 99;
	}
	.topnews {
		position: absolute;
		z-index: 99;
	}
	.image_topbackground {
		padding: 0 15px;
		margin-top: 40px;
	}
	.topbackground_nianame {
		margin-top: 90px;
	}
	.head_decree {
		padding: 0 15px;
	}
	.wrap_inside_slide.marketing_slide {
		padding-left: 15px;
		padding-right: 15px;
	}
	.top_marketing h2 span {
		display: inline-block;
		text-align: left;
	}
	.detail_loandplace {
		position: absolute;
		z-index: 20;
		margin-top: 30px;
	}
	.detail_loandplace_last {
		padding-top: 50px;
	}
	.bg_loandplace_last {
		margin-bottom: 0;
	}
	.topnews h3 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.newsdetail_text {
		padding-top: 0;
	}
	.newsdetail_text_bot {
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.head_newsinside h1 {
		font-size: 3rem;
		line-height: 0.9;
	}
	.head_newsinside h2 {
		font-size: 2.5rem;
	}
	.head_newsinside hgroup {
		padding-top: 10px;
	}
	.profile_images {
		margin-bottom: 0;
		padding-left: 15px;
	}
	.bg_profile_right {
		margin-top: 0;
		padding-top: 5px;
		min-height: 0 !important;
		padding-bottom: 15px;
		padding-right: 15px;
	}
	.bg_profile_right h3 {
		margin-top: 15px;
	}
	.profile_quote {
		margin-top: 25px;
		margin-bottom: 20px;
	}
	.row_profile {
		margin-top: 30px;
	}
	.item_board a {
		background-color: #FFF;
	}
	.item_board figure figcaption {
		opacity: 1.0;
		position: static;
		margin-top: 10px;
		color: #000;
	}
	.item_board figure {}
	.item_board a:hover figure img {
		opacity: 1.0;
	}
	.head_board h1 {
		font-size: 3rem;
	}
	.head_board h2 {
		font-size: 2rem;
	}
	.board_tab_detail h1 {
		font-size: 1.5rem;
		background-size: 15px 20px;
	}
	.item_board figure figcaption::before {
		height: 5px !important;
	}
	.home_head_awards h1 {
		font-size: 2.5rem;
	}
}

@media (max-width: 767px) {
	.innova-head-int{
		margin-bottom: 0px;
	}
	
	.innova-head-int h1{
		text-align: left;
		font-size: 2rem;
	}
	.righttxt{
		text-align: left;
		font-size: 1.5rem;
	}
	.innova-head-int{
		margin-left: 0px;
	}
	.regisbtn {
		position: relative;
		top: -60px;
	}
	.border-hover .col-sm-5 img{
		width: 100%;
	}
	.padleft{
		padding-left: 15px;
	}
	.wrap_media {
		margin: 30px -15px;
	}
	.confirm-page div {
		font-size: 2rem;
	}
	.head_link_2 h1 {
		font-size: 1.7rem;
	}
	.inmobile2 {
		padding-left: 0px !important;
	}
	.inmobile {
		padding-left: 13px !important;
	}
	.pad-mo {
		margin-bottom: 50px;
	}
	.innova-head {
		margin-left: 0px;
	}
	.regis-form label {
		font-size: 1rem;
	}
	.bg-gray2 {
		margin: 15px;
	}
	.jumbotron {
		font-size: 2rem;
	}
	.status-class::before {
		height: 0.2rem;
		width: 0.2rem;
		margin-right: 0.3rem;
	}
	.profile h1 {
		font-size: 2rem;
	}
	#banner-data1 {
		font-size: 2.2rem;
		white-space: normal;
		margin-bottom: 0;
	}
	#banner-data2 {
		font-size: 1.5rem;
	}
	#banner-data3 {
		font-size: 1rem;
		line-height: 20px;
	}
	.innovationcl {
		margin-top: -100px;
	}
	.banner-txt-slide {
		position: relative;
		top: -80px;
		z-index: 0;
	}
	.social-fixed {
		position: relative;
		top: -50px;
	}
	.bg-gray2 p,
	.bg-gray p {
		margin-top: -15px;
	}
	.member-signin {
		font-size: 0.8rem;
	}
	.bgdarkblue {
		background-color: transparent;
	}
	.btn-edit-profile {
		float: none;
	}
	.media_logo {
		font-size: 1.3rem;
	}
	.home_news_item {
		padding-left: 0px;
		padding-right: 0px;
	}
	.home_news_item h4 {
		margin-top: 10px;
	}
	.innoworld_item figure {
		padding-left: 0px;
		padding-right: 0px;
	}
	.bot_link_border {
		margin-bottom: 10px;
	}
	.bot_link_border {
		margin-bottom: 15px;
	}
	.activities_link {
		padding-bottom: 20px;
	}
	.newsactivities_date {
		width: 50px;
		font-size: 2.8rem;
	}
	.newsactivities_date span {
		font-size: 1.1rem;
	}
	.newsactivities_head {
		width: calc(100% - 50px);
	}
	.newsactivities_head h1 {
		font-size: 1.5rem;
	}
	.newsactivities_head p {
		margin-top: 0;
	}
	.bg_blog > span {
		display: none;
	}
	.innostrat_head h1 {
		font-size: 1.9rem;
	}
	.innostrat_head h2 {
		font-size: 1.3rem;
	}
	.innostrat_head {
		padding-right: 15px;
		padding-left: 15px;
		text-align: center;
	}
	.img_newsactivities {
		padding-left: 0;
	}
	.socail_banner {
		left: 8px;
	}
	.padding_blog {
		padding-top: 30px;
	}
	.newsactivities_detail {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		margin-bottom: 0;
	}
	.wrap_newsactivities {
		display: none;
	}
	.wrap_newsactivities_mobile {
		display: block;
	}
	.wrap_newsactivities_detail {
		padding-right: 15px;
		padding-bottom: 0;
	}
	.padding_owlinnostrat {
		margin-top: 0px;
	}
	.rowbot_link {
		margin-left: -15px;
		margin-right: -15px;
	}
	.margin_activities_link .col-xs-12 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.head_link {
		border: 0;
		padding-left: 30px;
		position: relative;
		margin-top: 15px;
	}
	.head_link::before {
		content: "";
		position: absolute;
		width: 3px;
		height: 100%;
		background-color: #114974;
		top: 0;
		left: 15px;
	}
	.home_head {
		border: 0;
		padding-left: 30px;
	}
	.home_head::before {
		content: "";
		position: absolute;
		width: 3px;
		height: 100%;
		/*
		background-color: #114974;
		top: 0;
		left: 15px;
*/
	}
	.bot_link {
		padding-left: 15px;
		padding-right: 15px;
	}
	.innoworld_item a {
		margin-left: 15px;
		margin-right: 15px;
	}
	.rowtopslide {
		margin-bottom: 30px;
	}
	.row_image_detail {
		margin-top: 15px;
	}
	.detail_text {
		padding-top: 15px;
	}
	.head_detail {
		text-align: left;
	}
	.row_image_detail {
		margin-bottom: 5px;
	}
	.detail_text_bot h1 {
		padding-left: 0;
		padding-right: 0;
		font-size: 2.2rem;
		margin-bottom: 10px;
	}
	.head_detail hgroup::before {
		width: calc(100% + 100px);
		right: -50px;
	}
	.topbackground h1 {
		font-size: 3.5em;
	}
	.topbackground h2 {
		font-size: 2.5em;
	}
	.topbackground {
		padding-right: 15px;
	}
	.topnews h1 {
		font-size: 3.5em;
	}
	.topnews h2 {
		font-size: 2.5em;
	}
	.topnews {
		padding-right: 15px;
	}
	.topbackground_nianame h1 {
		font-size: 2rem;
		margin-bottom: 30px;
	}
	.newsdetail_text {
		padding-left: 15px;
	}
	.newsdetail_text h2 {
		font-size: 2rem;
	}
	.newsdetail_text h2 span {
		display: initial;
	}
	.bg_newsinside {
		margin-top: 85px;
	}
	/*.dropdown-inner {
		top: 23%;
	}*/
	.bg-gray2 {
		margin: 15px 15px 15px 15px;
		padding: 15px;
	}
	.md-radio label {
		width: 100%;
	}
	.home_head h1,
	.innova-head h1 span {
		font-size: 2rem;
		letter-spacing: 0.1rem;
		display: block;
	}
	.home_head h3 {
		font-size: 1.4rem;
	}
	.innova-head h1 {
		font-size: 1.5rem;
		display: block;
		margin-top: 35px;
	}
	.innova-head h3 {
		font-size: 1.2em;
	}
	.home_head_awards h1 {
		font-size: 2rem;
	}
	.home_head_awards h3 {
		font-size: 1.5rem;
	}
	.wrap_innomec .mb-5 {
		margin-bottom: 0;
	}
	.home_head_awards {
		margin-bottom: 0;
	}
    .home_int-inno_item{
        margin-bottom: 20px;
    }
    .home_int-inno_item p{
        height: 3.2em;
    }
    .wrap_interestinno{
        margin-top: 0;
    }
    .wrap_interestinno .innova-head-int{
        margin-top: 5px;
    }
	.home_int-inno_item h4{
		height: 2em;
	}
    /*inno767*/
    .innomech{
        padding: 15px 15px 15px 30px;
        position: absolute;
        top: 5px;
        left: 0;
        background-color: #15325e;
    }
    .innomech_col:first-child{
        margin-top: 150px;
    }
    .innomech_col{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0;
    }
    .innomech_logo{
        margin-bottom: 15px;
        min-height: 110px;
    }
    .bg_innomech{
        margin-bottom: 10px;
        margin-top: 0;
    }
    .bg_innomech > span{
        display: none;
    }
}